* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: rgba(172, 203, 242, 0.358);
    margin: 10rem;
    border: 1px solid gray;
    border-radius: 3px;
}

.elements {
    margin: 2rem;
    overflow: auto;
}

#image {
    float: left;
    border-radius: 3px;
}

.info {
    margin-left: 450px;
}

.parag {
    text-align: justify;
}

h1 {
    letter-spacing: 0.1rem;
    margin: 30px 0px 10px;
}